[package]
name = "spark-full"
version = "0.1.0"
edition = "2024"

[workspace]
members = [
    "cli",
    "daemon",
    "common"
]

[profile.release]
opt-level = "z"
lto = "fat"
codegen-units = 1
strip = true
panic = "abort"
